.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--sans-serif);
    margin: 1rem 0 4rem;
    text-wrap: balance;
    text-align: center;
}

#observablehq-header {
    position: sticky;
    top: 0px;
    z-index: 100;
    background: var(--theme-background);
}

.hero h1 {
    margin: 1rem 0;
    padding: 1rem 0;
    max-width: none;
    font-size: 14vw;
    font-weight: 900;
    line-height: 1;
    background: linear-gradient(30deg, var(--theme-foreground-focus), currentColor);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.hero h2 {
    margin: 0;
    max-width: 34em;
    font-size: 20px;
    font-style: initial;
    font-weight: 500;
    line-height: 1.5;
    color: var(--theme-foreground-muted);
}

@media (min-width: 640px) {
    .hero h1 {
        font-size: 90px;
    }
}

/* body {
    margin: 0;
} */
/* body {
    margin: 0;
} */

/* #observablehq-sidebar {
    top: 3em
} */

.obsbar {
    display: flex;
    overflow: hidden;
    z-index: 0;
    position: sticky;
    top: 0;
    align-items: center;
    gap: 0.5rem;
    height: 4rem;
    margin: -1.5rem -2rem 2rem -2rem;
    padding: 0.5rem 2rem;
    border-bottom: solid 2px var(--theme-foreground-focus);
    font: 500 16px var(--sans-serif);
    background-color: var(--theme-background);

}

.topnav {
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}


.editornote::before {
    content: "Editor Note:"
}

.editornote {
    display: block;
    /*width : 12em;*/
    /*float:right;*/

    /*height : 40em;*/
    color: var(--theme-foreground-focus);
    border-width: 0.1em;

    border-style: dashed;
    font-style: italic;
    border-color: var(--theme-foreground-muted);
    /*padding:1em;*/
}

/* p {
    max-width: 100%;
} */

/* 
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--theme-background);
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    z-index: 999;

    background-color: #0452aa9e;
} */